* {
  margin: 0px;
  padding: 0px;
}
html, body, main {
  height: 100%;
}
#header, footer {
  background: #1B1B1B;
  width: 100%;
  color: white;
  text-align: center;
}

nav ul {
  background-color: #6e6e6e;
  display: flex;
  flex-direction: row;
  gap: 5px;
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #6e6e6e;
}

h3, h2 {
  color: white;
}
#leftSection {
  width: 75%;
  background-color: #3d3d3d;
}

#rightSection {
  width: 25%;
  color: white;
  background-color: #3d3d3d;
}
section {
  padding: 5px;
  background-color: #3d3d3d;
  color: #bababa;
  height: fit-content;
  width: 100%;
}
li {
  margin-left: 20px;
  list-style-type: none;
}

#contactList {
  display: flex;
  flex-direction: row;
}

#main{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

strong {
  color: white;
}